*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
/* heade */
header{
    background-color: #add8e6;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-header{
    display: flex;
    justify-content: center;
    width: 60%;
    background-color: #daa520;
    
}

.logo, .login{
    width: 25%;
    border: 1px dashed black;
    
}
.link{
    width: 50%;
    border: 1px dashed black;
    text-align: center;
}

.login{
    text-align: right;
}

/* banner */
.banner{
    background-color: #00008b;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-2{
    background-color: #ee82ee;
    width: 40%;
    height: 125px;
    border: 1px dashed black;

}

.cont-sm{
    background-color: white;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-small{
    background-color: #ffc0cb;
    width:20%;
    height: 180px;
    border: 1px dashed black;
}

.cont-big{
    background-color:#1e90ff;
    width: 40%;
    height: 180px ;
    border: 1px dashed black;
}
.grigio{
    background-color: #d3d3d3;
}

.cont-superbig{
    background-color:#d3d3d3 ;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.superbig{
    background-color: #228b22;
    height: 300px;
    border: 1px dashed black;
    width: 60%
    
}